<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<a style="font-size: 1px; visibility: hidden;" id="mcusername">{{ mcusername }}</b>
<a style="font-size: 1px; visibility: hidden;" id="discordid">{{ discordid }}</b>
<title>Shop</title>
<body>

	<div style="background: #dedede; padding: 12px; margin: 12px 0px; text-align: center; border-radius: 8px;">
		<h1 style="text-decoration: underline;">Buy stuff :D</h1>
			<button onclick="runcommand()"></button>
	</div>
</body>
</html>	<script src="/static/js/shop.js"></script>
